[Desktop Entry]
Name=Apache Configuration
Comment=A graphical configuration tool for the Apache web server
Comment[pl]=Graficzne narzędzie do konfiguracji serwera WWW Apache
Exec=comanche &
Terminal=false
Icon=comanche.xpm
Type=Applications/System
Encoding=UTF-8
# vi: encoding=utf-8
